* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;     }

html {
    background-image: url("Back-Ground.png");
    background-repeat: no-repeat;
    background-size: unset;     }

.Siteler {
    width: 100px;
    min-width: 70px;
    height: 120px;
    padding: 5px;
    margin: 25px; 
    border-radius: 15px; 
    border-width: 0px;
    outline-width: 0;
    outline-style: inset;
    outline-color: black;
    backdrop-filter: blur(1.5px);
    background-color: rgb(240, 240, 240, 0.2);     }

.Siteler:hover {
    transition: 150ms; 
    transform: scale(0.95); 
    background: linear-gradient(225deg, rgb(200, 255, 255, 0.4), rgb(0, 150, 2150, 0.4));
    backdrop-filter: blur(3px);
    border-style: none; 
    outline-style: none;
    box-shadow: 2.5px 2.5px 10px 5px rgba(0, 0, 0, 0.4);     } 
    
#NoteBookSimge {
    background-image: url("FaviconNoteBook.ico"); 
    width: 50px; 
    height: 50px; 
    background-size: 90%; 
    background-repeat: no-repeat; 
    display: inline-block;     } 

#GoogleHızlıSimge {
    background-image: url("FaviconGoogleHızlı.ico"); 
    width: 50px; 
    height: 50px; 
    background-size: 90%; 
    background-repeat: no-repeat; 
    display: inline-block;     } 

#SaatSimge {
    background-image: url("FaviconSaatKaç.ico");
    width: 50px;
    height: 50px;
    background-size: 90%;
    background-repeat: no-repeat;
    display: inline-block;     }

.Yazı {
    font-weight: 700; 
    font-family: cursive, sans-serif; 
    display: inline-block;     }


#Sifre {
    width: 80%;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #3773af;
    border-radius: 20px;
    background: #bbbbbb;
    padding: 5px;
    font-family: "Segoe UI", sans-serif;     }

#SifreKismi {
    border: 2px dashed #cccccc;
    border-radius: 15px;
    background-color: #afafaf;
    width: 100%;
    height: 439px;
    padding: 20px;     }

#SifreKismi:hover {
    transition: 200ms;
    background-color: #999999;     }

#Parola {
    width: 90%;
    height: 50px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 80px;
    background-color: #8f8f8f;
    display: inline-block;
    border-radius: 15px;
    border-width: 0;
    font-size: 20px;
    padding: 15px;     }

#Parola:hover {
    transition: 200ms;
    box-shadow: 0 0 0 1px rgb(50, 146, 255);     }

#Parola:focus {
    transition: 200ms;
    outline-width: 0;
    box-shadow: 0 0 10px 0 rgb(40, 115, 200);
    background-color: rgb(110, 110, 110);     }

#SiteyeGir {
    width: 80%;
    height: 50px;
    margin-left: 10%;
    margin-top: 200px;
    border-radius: 15px;
    outline-width: 0;
    outline: none;
    border: none;
    background-color: #8f8f8f;     }

#SiteyeGir:hover {
    transition: 200ms;
    background-color: #777777;
    border-radius: 25px;     }