#Login {
    width: 400px;
    height: 500px;
    background: #1e1e1e;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
}

#Login h2 {
    width: 200px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    color: rgb(235, 235, 235);
    font-family: "Lexend";
    font-size: 40px;
}

#Login input {
    width: 275px;
    height: 30px;
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
    padding: 15px;
    outline-style: none;
    border: none;
    font-family: "Lexend";
    font-size: 30px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
